<!-- Events Section -->
<section id="events" class="container content-section text-center">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <h2>Upcoming Events</h2>
      <div class="fb-page" data-href="https://www.facebook.com/wildcatoffroadpark/" data-tabs="events" data-small-header="false" data-width="500" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false"><blockquote cite="https://www.facebook.com/wildcatoffroadpark/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/wildcatoffroadpark/">Wildcat Offroad Park</a></blockquote>      </div>
    </div>
  </div>
</section>
<!-- About Section -->
<section id="about" class="container content-section text-center">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <h2>A little about us</h2>
      <p>
      New, family friendly, 2,000 acre off-road park that will accommodate all off-road enthusiasts. We have over 100 miles of trails with the greatest sites in the
      Southeastern United States. We are conveniently located 2 miles from I-75 off Exit #49.
      </p>
      <p>We have trails for the novice rider all the way up to the most experienced rider.</p>
      <p>
      Park office is open 9:00 a.m. to 5:00 p.m. Monday through Friday and 8:00 a.m. to 5:00 p.m. on Saturday and Sunday.
      Trails are open 24 hours per day, seven days per week.
      </p>
      <h4><em>The park is closed on Christmas Day only</em></h4>
      <h4><em>All visitors much check in at the Park office before parking and entering the park to ride.</em></h4>
      <p>Anyone under the age of 18 must be accompanied by an adult.</p>
      <div class="container">
        <table class=table-responsive>
          <tbody>
            <tr>
              <th>Full Day - Adult (13+)</th>
              <td style="width: 760px;">$15.00</td>
            </tr>
            <tr>
              <th>Full Day Youth/Senior (12 &amp; Under, 65+)</th>
              <td>$8.00</td>
            </tr>
            <tr>
              <th>Three+ Day Pass - Adult (13+)</th>
              <td>$12.00</td>
            </tr>
            <tr>
              <th>Three+ Day Pass - Youth/Senior (12 &amp; Under, 65+)</th>
              <td>$6.00</td>
            </tr>
          </tbody>
        </table>
      </div>
      <br/>

      <p>Campground - RV Camp-sites now available ( Full Hook Up - Water, Sewer And Electric ). Call for info {{ site.phone }}.</p>
      <h4><em>After midnight is Quiet time in the campground.</em></h4>
    </div>
  </div>
</section>
