<!-- Events Section -->
<section id="events" class="container content-section text-center">
  <div class="row">
    <div class="col-lg-8 col-sm-offset-2">
      <h2>Upcoming Events</h2>
      <div class="fb-page" data-href="https://www.facebook.com/wildcatoffroadpark/" data-tabs="events"
        data-small-header="false" data-width="500" data-adapt-container-width="true" data-hide-cover="false"
        data-show-facepile="false">
        <blockquote cite="https://www.facebook.com/wildcatoffroadpark/" class="fb-xfbml-parse-ignore"><a
            href="https://www.facebook.com/wildcatoffroadpark/">Wildcat Offroad Park</a></blockquote>
      </div>
    </div>
  </div>
</section>
<!-- About Section -->
<section id="about" class="container content-section text-center">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <h2>A little about us</h2>
      <p>
        New, family friendly, 2,000 acre off-road park that will accommodate all off-road enthusiasts. We have over 100
        miles of trails with the greatest sites in the
        Southeastern United States. We are conveniently located 2 miles from I-75 off Exit #49.
        You can find us at: <br />
        <address>
          <h4>7800 N US Highway 25</h4>
          <h4>East Bernstadt, KY 40729-6741</h4>
        </address>
      </p>
      <p>We have trails for the novice rider all the way up to the most experienced rider.</p>
      <p>Park Hours:</p>
      <div class="text-left">
        <ul>
          <li>Park office is open 9:00 a.m. to 5:00 p.m. Monday through Friday and 8:00 a.m. to 5:00 p.m. on Saturday
            and
            Sunday.</li>
          <li>Trails are open Monday through Friday 9 a.m. - Midnight. Saturday and Sunday 8 a.m. - Midnight.</li>
        </ul>
      </div>
      <h4><em>The park is closed on Christmas Day only</em></h4>
      <h4><em>All visitors must check in at the Park office before parking and entering the park to ride.</em></h4>
      <p><em><strong>We ask that all of our Patrons please review our <a href="http://wildcatoffroadpark.com/assets/forms/waiver.pdf">Park Waiver Form</a> prior to visiting Wildcat Adventure Offroad Park.</strong></em></p>

      <p><em><strong>Anyone under the age of 18 must be accompanied by a Parent or Legal Guardian.</strong></em></p>
      <div class="table-responsive">
        <table class="table table-condensed">
          <tbody>
            <tr>
              <th>Full Day - Adult (13+)</th>
              <td colspan>$19.00</td>
            </tr>
            <tr>
              <th>Full Day Youth (6yrs-12yrs)</th>
              <td>$12.00</td>
            </tr>
            <tr>
              <th>Two Day Pass - Adult (13+)</th>
              <td>$38.00</td>
            </tr>
            <tr>
              <th>Two Day Pass - Youth (6yrs-12yrs)</th>
              <td>$24.00</td>
            </tr>
            <tr>
              <th>Three Day Pass - Adult (13+)</th>
              <td>$48.00</td>
            </tr>
            <tr>
              <th>Three Day Pass - Youth (6yrs-12yrs)</th>
              <td>$27.00</td>
            </tr>
            <tr>
              <th>Four Day Pass - Adult (13+)</th>
              <td>$64.00</td>
            </tr>
            <tr>
              <th>Four Day Pass - Youth (6yrs-12yrs)</th>
              <td>$37.00</td>
            </tr>
            <tr>
              <th>Five Day Pass - Adult (13+)</th>
              <td>$74.00</td>
            </tr>
            <tr>
              <th>Five Day Pass - Youth (6yrs-12yrs)</th>
              <td>$45.00</td>
            </tr>
          </tbody>
        </table>
      </div>
      <br />

      <p>Campground - RV Camp-sites now available ( Full Hook Up - Water, Sewer And Electric ). Call for info
        {{ site.phone }}.</p>
      <h4><em>After midnight is Quiet time in the campground.</em></h4>
    </div>
  </div>
</section>

<!-- Rider Resources -->
<section id="resources" class="container content-section text-center">
  <div class="row">
    <div class="col-lg-12">
      <h3>Rider Resources</h3>
      <p>
        You can download and print the Wildcat Adventures Offroad Park rider waiver below.
      </p>
      <ul>
        <li>
          <h4>
            <a href="https://www.waiverfile.com/b/WildcatAdventuresOffroadPark" target="_blank">Sign Our Rider Waiver</a>
          </h4>
        </li>
      </ul>
    </div>

  </div>
</section>
