<!-- Campground Section -->
<section id="campground" class="container content-section">
  <div class="campground-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <h2>Our Campground</h2>
          <em>
            <p>We offer a full service campground. We serve Motor Homes
              as well as primitive campers.</p>
            <p>Our full-hook up campground provides water, sewer, and
              electric at each site. Each site is set up with a fire pit
              and a picnic table. We have 42 full-hook up sites. We also
              have a primitive area. If you are interested in a camp site
              we recommend you call ahead and reserve your site.</p>
            <p>Full-hook up sites: $43.00 per night<br/>
                Primitive sites: $22.00 per night.
            </p>
            <h4>Primitive Camping spots are avaliable on a "First Come, First Serve" basis</h4>
          </em>
          <h3>Campground Cancellation Policy</h3>
          <p>
            <em>
              If you have reserved a campground spot and need to cancel your reservation,
              there will be a $25.00 cancellation fee. If your cancellation is within 7 days
              of the reservation you will be charged 50% of the total reservation amount.
            </em>
          </p>
          <h3>Campground Map</h3>
          <p>
            <a href="../assets/images/campground-map.jpg" target="_blank">
              <img src="../assets/images/campground-map.jpg" height="400">
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <h3>RENTALS</h3>
    <div class="rentals-container">
      <div class="rental">
        <div class="preview">
          <img src="../assets/images/cabin-1/outside_thumbnail.png">
        </div>
        <div class="information">
          <h3>Cabin #1</h3>
          <ul>
            <li><i class="fa fa-check"></i><span>Sleeps 4 People</span></li>
            <li><i class="fa fa-check"></i><span>Refrigerator, Microwave, Kitchen Area</span></li>
            <li><i class="fa fa-check"></i><span>Full Bathroom</span></li>
            <li><i class="fa fa-check"></i><span>Full Bedroom Bunk Beds</span></li>
            <li><i class="fa fa-check"></i><span>Charcoal Grill, Fire Pit Provided. Covered Porch</span></li>
            <li>
              <i class="fa fa-close"></i>
              <span>Linens, Kitchen Untensils, Not Provided</span>
            </li>
          </ul>
          <a href="https://www.facebook.com/pg/wildcatoffroadpark/photos/?tab=album&album_id=1467254439996403" target="_blank">View Photos</a>
        </div>
        <div class="pricing">
          <sup>$</sup>
          80
          <span>/Night</span>
          <p>
            <sup>$</sup>
            25
            <span>One time cleaning fee</span>
          </p>
        </div>
      </div>

      <div class="seperator"></div>

      <div class="rental">
        <div class="preview">
          <img src="../assets/images/cabin-2/outside_thumbnail.png">
        </div>
        <div class="information">
          <h3>Cabin #2</h3>
          <ul>
            <li><i class="fa fa-check"></i><span>Sleeps 4 People</span></li>
            <li><i class="fa fa-check"></i><span>Refrigerator, Microwave, Kitchen Area</span></li>
            <li><i class="fa fa-check"></i><span>Full Bathroom</span></li>
            <li><i class="fa fa-check"></i><span>Full Bedroom Bunk Beds</span></li>
            <li><i class="fa fa-check"></i><span>Charcoal Grill, Fire Pit Provided. Covered Porch</span></li>
            <li>
              <i class="fa fa-close"></i>
              <span>Linens, Kitchen Untensils, Not Provided</span>
            </li>
          </ul>
          <a href="https://www.facebook.com/pg/wildcatoffroadpark/photos/?tab=album&album_id=1467255673329613" target="_blank">View Photos</a>
        </div>
        <div class="pricing">
          <sup>$</sup>
          85
          <span>/Night</span>
          <p>
            <sup>$</sup>
            25
            <span>One time cleaning fee</span>
          </p>
        </div>
      </div>

      <div class="seperator"></div>

      <div class="rental">
        <div class="preview">
          <img src="../assets/images/cabin-3/outside_thumbnail.png">
        </div>
        <div class="information">
          <h3>Cabin #3</h3>
          <ul>
            <li><i class="fa fa-check"></i><span>Sleeps 10 People</span></li>
            <li><i class="fa fa-check"></i><span>Refrigerator, Microwave, Kitchen Area</span></li>
            <li><i class="fa fa-check"></i><span>Full Bathroom</span></li>
            <li><i class="fa fa-check"></i><span>Four Full Size Bunk Beds</span></li>
            <li><i class="fa fa-check"></i><span>One Pull Out Couch</span></li>
            <li><i class="fa fa-check"></i><span>Charcoal Grill, Fire Pit Provided, Covered Porch</span></li>
            <li><i class="fa fa-close"></i><span>Linens, Kitchen Untensils, Not Provided</span></li>
          </ul>
          <a href="https://www.facebook.com/521950201193503/photos/?tab=album&album_id=1467256406662873" target="_blank">View Photos</a>
        </div>
        <div class="pricing">
          <sup>$</sup>
          133
          <span>/Night</span>
          <p>
            <sup>$</sup>
            25
            <span>One time cleaning fee</span>
          </p>
        </div>
      </div>

      <div class="seperator"></div>

      <div class="rental">
        <div class="preview">
          <img src="../assets/images/cabin-4/outside_thumbnail.png">
        </div>
        <div class="information">
          <h3>Cabin #4</h3>
          <ul>
            <li><i class="fa fa-check"></i><span>Sleeps 12 People</span></li>
            <li><i class="fa fa-check"></i><span>Refrigerator, Microwave, Kitchen Area</span></li>
            <li><i class="fa fa-check"></i><span>Full Bathroom</span></li>
            <li><i class="fa fa-check"></i><span>Two Full Size Bunk Beds</span></li>
            <li><i class="fa fa-check"></i><span>Two Pull Out Couch</span></li>
            <li><i class="fa fa-check"></i><span>Charcoal Grill, Fire Pit Provided, Covered Porch</span></li>
            <li><i class="fa fa-close"></i><span>Linens, Kitchen Untensils, Not Provided</span></li>
          </ul>
          <a href="https://www.facebook.com/521950201193503/photos/?tab=album&album_id=1467257276662786" target="_blank">View Photos</a>
        </div>
        <div class="pricing">
          <sup>$</sup>
          160
          <span>/Night</span>
          <p>
            <sup>$</sup>
            25
            <span>One time cleaning fee</span>
          </p>
        </div>
      </div>

      <div class="seperator"></div>

      <div class="rental">
        <div class="preview">
          <img src="../assets/images/wildcat-retreat/outside_thumbnail.png">
        </div>
        <div class="information">
          <h3>Wildcat Retreat</h3>
          <ul>
            <li>
              <i class="fa fa-check"></i>
              <span>Sleeps 8-10 People</span>
            </li>
            <li>
              <i class="fa fa-check"></i>
              <span>Large Kitchen</span>
            </li>
            <li>
              <i class="fa fa-check"></i>
              <span>Full Bathroom</span>
            </li>
            <li>
              <i class="fa fa-check"></i>
              <span>Two Bedrooms</span>
            </li>
            <li>
              <i class="fa fa-check"></i>
              <span>Pull Out Couch &amp; Futon</span>
            </li>
            <li>
              <i class="fa fa-check"></i>
              <span>Washer &amp; Dryer</span>
            </li>
            <li>
              <i class="fa fa-check"></i>
              <span>Trails connect to Property</span>
            </li>
            <li>
              <i class="fa fa-close"></i>
              <span>Linens, Kitchen Untensils, Not Provided</span>
            </li>
          </ul>
          <a href="https://www.facebook.com/521950201193503/photos/?tab=album&album_id=1284258001629382" target="_blank">View Photos</a>
        </div>
        <div class="pricing">
          <sup>$</sup>
          215
          <span>/Night</span>
          <p>
            <sup>$</sup>
            35
            <span>One time cleaning fee</span>
          </p>
        </div>
      </div>

      <div class="seperator"></div>

      <div class="rental">
        <div class="preview">
          <img src="../assets/images/the-lodge/outside_thumbnail.png">
        </div>
        <div class="information">
          <h3>Wildcat Lodge</h3>
          <ul>
            <li>
              <i class="fa fa-check"></i>
              <span>Sleeps 14 People</span>
            </li>
            <li>
              <i class="fa fa-check"></i>
              <span>Full Living Room</span>
            </li>
            <li>
              <i class="fa fa-check"></i>
              <span>Full Kitchen w/Island</span>
            </li>
            <li>
              <i class="fa fa-check"></i>
              <span>Two Dining Areas</span>
            </li>
            <li>
              <i class="fa fa-check"></i>
              <span>Two Full Bathrooms</span>
            </li>
            <li>
              <i class="fa fa-check"></i>
              <span>Five Bedrooms</span>
            </li>
            <li>
              <i class="fa fa-check"></i>
              <span>Electric Fireplace</span>
            </li>
            <li>
              <i class="fa fa-check"></i>
              <span>Washer &amp; Dryer</span>
            </li>
            <li>
              <i class="fa fa-close"></i>
              <span>Linens, Kitchen Untensils, Not Provided</span>
            </li>
          </ul>
          <a href="https://www.facebook.com/521950201193503/photos/?tab=album&album_id=1467262566662257" target="_blank">View Photos</a>
        </div>
        <div class="pricing">
          <sup>$</sup>
          320
          <span>/Night</span>
          <p>
            <sup>$</sup>
            60
            <span>One time cleaning fee</span>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
