<!-- Campground Section -->
<section id="campground" class="content-section text-center">
  <div class="campground-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <h2>Our Campground</h2>
          <em>
            <p>We offer a full service campground. We serve Motor Homes
              as well as primitive campers.</p>
            <p>Our full-hook up campground provides water, sewer, and
              electric at each site. Each site is set up with a fire pit
              and a picnic table. We have 42 full-hook up sites. We also
              have a primitive area. If you are interested in a camp site
              we recommend you call ahead and reserve your site.</p>
            <p>Full-hook up sites: $40.00 per night<br/>
                Primitive sites: $20.00 per night.
            </p>
            <h4>Primitive Camping spots are avaliable on a "First Come, First Serve" basis</h4>
          </em>
          <h3>Campground Cancellation Policy</h3>
          <p>
            <em>
              If you have reserved a campground spot and need to cancel your reservation,
              there will be a $25.00 cancellation fee. If your cancellation is within 7 days
              of the reservation you will be charged 50% of the total reservation amount.
            </em>
          </p>
        </div>
      </div>
    </div>
  </div>
<!-- Pricing Table Section -->
  <section id="pricing-table">
      <div class="container">
          <div class="row">
              <div class="pricing">

                  <div class="col-md-4 col-sm-12 col-xs-12">
                      <div class="pricing-table">
                          <div class="pricing-header">
                              <p class="pricing-title">Cabin #1</p>
                              <p class="pricing-rate"><sup>$</sup> 80 <span>/Night.</span></p>
                              <p>$25 One time Cleaning Fee</p>
                          </div>

                          <div class="pricing-list">
                              <ul>
                                  <li><i class="fa fa-check"></i>Sleeps 4 People</li>
                                  <li><i class="fa fa-check"></i>Refrigerator, Microwave, Kitchen Area</li>
                                  <li><i class="fa fa-check"></i>Full Bathroom</li>
                                  <li><i class="fa fa-check"></i>Full Bedroom, Pull out couch</li>
                                  <li><i class="fa fa-check"></i>Charcoal Grill, Fire Pit Provided</li>
                                  <li><i class="fa fa-close"></i>Linens, Kitchen Untensils, Not Provided</li>
                              </ul>
                          </div>
                      </div>
                  </div>

                  <div class="col-md-4 col-sm-12 col-xs-12">
                      <div class="pricing-table">
                          <div class="pricing-header">
                              <p class="pricing-title">Cabin #2</p>
                              <p class="pricing-rate"><sup>$</sup> 80 <span>/Night.</span></p>
                              <p>$25 One time Cleaning Fee</p>
                          </div>

                          <div class="pricing-list">
                              <ul>
                                  <li><i class="fa fa-check"></i>Sleeps 4 People</li>
                                  <li><i class="fa fa-check"></i>Refrigerator, Microwave, Kitchen Area</li>
                                  <li><i class="fa fa-check"></i>Full Bathroom</li>
                                  <li><i class="fa fa-check"></i>Full Bedroom, Bunk Beds</li>
                                  <li><i class="fa fa-check"></i>Charcoal Grill, Fire Pit Provided</li>
                                  <li><i class="fa fa-close"></i>Linens, Kitchen Untensils, Not Provided</li>
                              </ul>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-4 col-sm-12 col-xs-12">
                      <div class="pricing-table">
                          <div class="pricing-header">
                              <p class="pricing-title">Cabin #3</p>
                              <p class="pricing-rate"><sup>$</sup> 125 <span>/Night.</span></p>
                              <p>$25 One time Cleaning Fee</p>
                          </div>

                          <div class="pricing-list">
                              <ul>
                                  <li><i class="fa fa-check"></i>Sleeps 8 People</li>
                                  <li><i class="fa fa-check"></i>Refrigerator, Microwave, Kitchen Area</li>
                                  <li><i class="fa fa-check"></i>Full Bathroom</li>
                                  <li><i class="fa fa-check"></i>Two Full Bedrooms w/Bunk Beds, Pull out couch</li>
                                  <li><i class="fa fa-check"></i>Charcoal Grill, Fire Pit Provided, Awning</li>
                                  <li><i class="fa fa-close"></i>Linens, Kitchen Untensils, Not Provided</li>
                              </ul>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-4 col-sm-12 col-xs-12">
                      <div class="pricing-table">
                          <div class="pricing-header">
                              <p class="pricing-title">Cabin #4</p>
                              <p class="pricing-rate"><sup>$</sup> 150 <span>/Night.</span></p>
                              <p>$25 One time Cleaning Fee</p>
                          </div>

                          <div class="pricing-list">
                              <ul>
                                  <li><i class="fa fa-check"></i>Sleeps 12 People</li>
                                  <li><i class="fa fa-check"></i>Refrigerator, Microwave, Kitchen Area</li>
                                  <li><i class="fa fa-check"></i>Full Bathroom</li>
                                  <li><i class="fa fa-check"></i>Two Full Size Bunk Beds</li>
                                  <li><i class="fa fa-check"></i>Two Pull Out Couches</li>
                                  <li><i class="fa fa-check"></i>Charcoal Grill, Fire Pit Provided, Awning</li>
                                  <li><i class="fa fa-close"></i>Linens, Kitchen Untensils, Not Provided</li>
                              </ul>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
<!-- Pricing Table Section End -->
</section>
