    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                      <img class="logo" src="../img/wildcat-logo.png" />
                        <p class="intro-text">A new family oriented offroading experience.<br>Nestled in 2,000 acres in Beautiful Southeast Kentucky.</p>
                        <a href="#about" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
