<!-- Navigation -->
<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
        <i class="fa fa-bars"></i>
      </button>
      <a class="navbar-brand page-scroll" href="#page-top">
        <img src="img/wildcat-logo-small.png" alt="Wildcat Adventures Offroad Park" />
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
      <ul class="nav navbar-nav">
        <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
        <li class="hidden">
          <a href="#page-top"></a>
        </li>
        <li>
          <a class="page-scroll" href="#about">About</a>
        </li>
        <li>
          <a class="page-scroll" href="#events">Events</a>
        </li>
        <li>
          <a class="page-scroll" id="rider_resources" href="#resources">Rider Resources</a>
        </li>
        <li>
          <a class="page-scroll" href="#contact">Contact</a>
        </li>
        <li>
          <a class="page-scroll"
            href=" https://www.roverpass.com/c/wildcat-adventures-offroad-park-east_bernstadt-ky/booking?d=d9103916-74f7-4217-b754-67000ad62331"
            target="_blank">
            <img src="/img/book_now.png" width="125" alt="Book Now with Roverpass" />
          </a>
        </li>
        <!-- <li> -->
        <!--     <a class="page-scroll" href="#information">Information</a> -->
        <!-- </li> -->
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container -->
</nav>