<!DOCTYPE html>
<html>
    {% include head.html %}
    <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
      <div id="fb-root"></div>
        <script>(function(d, s, id) {
var js, fjs = d.getElementsByTagName(s)[0];
if (d.getElementById(id)) return;
js = d.createElement(s); js.id = id;
js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8&appId=1056818611130882";
fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
        </script>
    {% include gtm.html %}
    {% include nav.html %}
    {% include header.html %}
    {% include about.html %}
    {% include contact.html %}
    {% include map.html %}
    {% include footer.html %}
    {% include js.html %}
    </body>
</html>
